**/*.fasl
rethinkdb-blog/linked-list
google/memcpy
google/binary-tree
google/context-switches
google/mutex
google/semaphore
google/producer-consumer
google/readers-writers
programming-pearls/bitvectorset
programming-pearls/system-sort
programming-pearls/bitvectorset-sort
programming-pearls/*.txt
codility/arithmetic-sequences
codility/array-sums
codility/cubes-in-range
codility/palindrome-anagram
programming-pearls/flatten-strings
programming-pearls/sign-string
cpu-tests/cache-hits
cpu-tests/branch-prediction
cpu-tests/memory-dependency
virtual-memory-tests/memory-protection